* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  margin-top: 200px;
  width: 100%;
  padding: 100px 15%;
  background: #082a3a;
  color: #efefef;
  display: flex;
}

.container div {
  text-align: center;
}

.col-2 {
  flex-grow: 2;
}
.container div h3 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 15px;
  cursor: pointer;
}

.col-1 a:hover {
  color: lightseagreen;
}

form input {
  width: 350px;
  height: 35px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
  text-indent: 3px;
}

form button {
  background: transparent;
  border: 2px solid #efefef;
  color: #efefef;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 12px;
  cursor: pointer;
}

form button:hover {
  color: lightseagreen;
}

.social {
  background: rgb(0, 0, 0);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  width: 100px;
  color: #efefef;
  text-align: center;
  margin: 10px;
}

.social a:hover {
  color: lightseagreen;
}

.social i {
  font-size: 15px;
}
